@model Nexus_loT.Models.ViewModels.SensorVM

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Insert Sensor</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        @*<div class="mb-3">
                <label asp-for="Id"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="APIUrl"></label>
            <input asp-for="APIUrl" class="form-control" />
            <span asp-validation-for="APIUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Configuration"></label>
            <input asp-for="Configuration" id="configuration" class="form-control" />
            <span asp-validation-for="Configuration" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="X"></label>
            <input asp-for="X" type="number" step=".001" class="form-control" />
            <span asp-validation-for="X" type="number" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Y"></label>
            <input asp-for="Y" type="number" step=".001" class="form-control" />
            <span asp-validation-for="Y" type="number" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            <select name="clusterSel[]" asp-for="Clusters" asp-items="(SelectList)@ViewData["Clusters"]"  class=form-select>
                <option  disabled selected>-Select Cluster-</option>
            </select>
        </div>
        <div class="form-floating py-2 col-12">
            <select asp-for="SensorTypeId" asp-items="(SelectList)@ViewData["SensorType"]" class=form-select>
                <option disabled selected>-Select Sensor Type-</option>
            </select>

        </div>
        <div class="mb-3">
            <label asp-for="SerialNumber"></label>
            <input asp-for="SerialNumber" type="number" step=".001" class="form-control" />
            <span asp-validation-for="SerialNumber" type="number" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Interval"></label>
            <input asp-for="Interval" type="number" step=".001" class="form-control" />
            <span asp-validation-for="Interval" type="number" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            @Html.DropDownList("IsActive", (IEnumerable<SelectListItem>)ViewBag.IsActive);
            @*<select asp-for="IsActive" asp-items="ViewBag.IsActive" class=form-select>
                <option disabled selected>-Select Status-</option>
                    </select>*@

        </div>
        <button type="submit" onclick="return ValidateJsonInput()" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Sensor" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        
        function ValidateJsonInput() {
            
            try {
                debugger;
                var configId = document.getElementById('configuration').value;
                
                JSON.parse(configId) 
                   
                   
            

            
            } catch (e) {
                alert("The value of configuration must be of JSON format.");
                return false;
            }
                
            
        }

        $(document).ready(function () {
            $('#clusterSel').multiselect();
        });
      
    </script>
}

