@model Nexus_loT.Models.ViewModels.SensorVM

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Sensor</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        @*<div class="mb-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="APIUrl"></label>
            <input asp-for="APIUrl" disabled class="form-control" />
            <span asp-validation-for="APIUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Configuration"></label>
            <input asp-for="Configuration" disabled class="form-control" />
            <span asp-validation-for="Configuration" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="X"></label>
            <input asp-for="X" type="number" step=".001" disabled class="form-control" />
            <span asp-validation-for="X" type="number" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Y"></label>
            <input asp-for="Y" type="number" step=".001" disabled class="form-control" />
            <span asp-validation-for="Y" type="number" class="text-danger"></span>
        </div>
        <div class="form-floating py-2 col-12">
            
            <select asp-for="Clusters" asp-items="@ViewBag.Clusters" disabled class=form-select>
                <option disabled selected>-Select Cluster-</option>
            </select>
        </div>
        <div class="form-floating py-2 col-12">
            <select asp-for="SensorTypeId" asp-items="@ViewBag.SensorType" disabled class=form-select>
                <option disabled selected>-Select Sensor Type-</option>
            </select>

        </div>
        <div class="mb-3">
            <label asp-for="SerialNumber"></label>
            <input asp-for="SerialNumber" disabled class="form-control" />
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Interval"></label>
            <input asp-for="Interval" disabled class="form-control" />
            <span asp-validation-for="Interval" class="text-danger"></span>
        </div>
        <div disabled class="form-floating py-2 col-12">
            @Html.DropDownList("IsActive", (IEnumerable<SelectListItem>)ViewBag.IsActive, new { disabled = "disabled" })
            @*<select asp-for="IsActive" asp-items="ViewBag.IsActive" class=form-select>
            <option disabled selected>-Select Status-</option>
                </select>*@

        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Sensor" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
    
    
</form>
